- name: Configure frontend (nginx reverse proxy)
  hosts: frontend
  become: yes

  tasks:
    - name: Install nginx
      package:
        name: nginx
        state: present

    - name: Configure nginx reverse proxy to backend Netdata
      copy:
        dest: /etc/nginx/conf.d/netdata.conf
        content: |
          server {
              listen 80;

              location / {
                  proxy_pass http://{{ hostvars['u21.local'].ansible_default_ipv4.address }}:19999;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              }
          }

    - name: Test nginx configuration
      command: nginx -t

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
        enabled: yes
